[Unit]
Description=Docker Kernel Exporter's Collector Service
After=network.target

[Service]
Type=simple
User=root
ExecStart=/usr/bin/kernel-de /etc/kernel-de/kernel-de.conf
Restart=on-failure
RestartSec=5
StandardOutput=append:/var/log/kde-collector.log
StandardError=append:/var/log/kde-collector.log

[Install]
WantedBy=multi-user.target